@{
    ViewData["Title"] = " ورود کارشناس ";
}
@model divar.ViewModels.LoginViewModel



   <div class="row">
    </br></br>
    <div class="col s12 m6 offset-m3">
      <div class="card gray-color">
        <div class="card-content black-text">
          <span class="card-title center">  ورود کارشناس    </span>
          </br>
        <form asp-action="Login" method="post">
          <div class="form-group">
              <label asp-for="PhoneNumber"> نام کاربری  </label>
              <input asp-for="PhoneNumber" class="form-control black-text" />
              <span asp-validation-for="PhoneNumber" class="text-danger"> </span>
          </div>
          <div class="form-group">
              <label asp-for="Password"> رمز عبور  </label>
              <input asp-for="Password" class="form-control black-text" type="password" />
              <span asp-validation-for="Password" class="text-danger "> </span>
          </div>
              <button type="submit" class="btn grren">ورود </button>
        </form>
              
        </div>
        @(await Component.InvokeAsync("FooterNav"))
     
      </div>
    </div>
  </div>

    




