
@using DNTPersianUtils.Core
@{
    ViewData["Title"] = "پیام سیستم";

}

 <div class="row">
    </br></br>
        
        <div>
            <div class="col s12 m6 offset-m3">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title center"> پیام سیستم  </span>
                        <br>
                        <p class="center"> @ViewBag.message  </p>
                        <br>
                    </div>
                </div>
            </div>
            @(await Component.InvokeAsync("FooterNav"))
        </div>

   
 </div>


 @section Scripts
 {
 }

  

    

