@{
    ViewData["Title"] = " پایگاه دانش  ";
}


   <div class="row">
    </br></br>
    <div class="col s12 m6 ">
      <div class="card gray-color ">
        <div class="card-content white-text">
          <span class="card-title center black-text">  چه پرینتری بخریم  </span>
          </br>
                </br>
               <div id="19084028453"><script type="text/JavaScript" src="https://www.aparat.com/embed/f815ri3?data[rnddiv]=19084028453&data[responsive]=yes"></script></div>
        </div>
        @(await Component.InvokeAsync("FooterNav"))
        </div>
      </div>
       <div class="col s12 m6 ">
      <div class="card gray-color">
        <div class="card-content white-text">
          <span class="card-title center black-text">  چه پرینتری بخریم  </span>
          </br>
                </br>
             <div id="71602600992"><script type="text/JavaScript" src="https://www.aparat.com/embed/nrqi1c2?data[rnddiv]=71602600992&data[responsive]=yes"></script></div>        </div>
        </div>
          @(await Component.InvokeAsync("FooterNav"))
      </div>
    </div>

    




